@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color:black;
}


#screen {
  text-align:center;
  position:absolute;
  border:8px solid #1086e8;
  width:600px;
  top:150px;
  border-radius:40px;
  left:35%;
  margin: -50px 0 0 -150px;
  animation: border-flicker 2s linear infinite;
}

h1 {
  color:#FF00E6;
  font-family: 'Rubik Mono One', sans-serif;
  font-size:80px;
  font-weight: 100;
  letter-spacing:10px;
  animation: text-flicker 3s linear infinite;
}

.Night{
  width: 100%;
  height:auto;
}
#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }

  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }

  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }

  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }

  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }


  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}





h6{font-size: 100px;
  font-family: 'Pathway Gothic One', sans-serif;
  position: absolute;
  top:1000px;
  left:400px;
  color:lightblue;
}




.No1{
    position:absolute;
    top:1200px;
    left:0px;
}

.No2{
    position:absolute;
    top:1200px;
    left:230px;
}


.No3{
    position:absolute;
    top:1590px;
    left:-30px;
}

.No4 {
    position:absolute;
    top:1590px;
    left:220px;

}

.No5 {
    position:absolute;
    top:1920px;
    left:30px;
}

.Pinkposter {
            position:absolute;
            top:3895px;
            left:560px;
}

.Yes1{
            position:absolute;
            top:2400px;
            right:0px;
}

.Yes2{
            position:absolute;
            top:2400px;
            right:340px;

}

.Yes3{

              position:absolute;
              top:2700px;
              right:30px;

}

.Yes4{
              position:absolute;
              top:2970px;
              right:380px;
}

.Yes5{

              position:absolute;
              top:3300px;
              left:550px;

}


/* h1 {font-size: 100px;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  top:30px;
  left:220px;
  color: white;
} */
/* h1{
  font-size: 28px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:210px;
  left:560px;
  color:hotpink;
} */

h2 {font-size: 28px;
  font-family: 'Pathway Gothic One', sans-serif;
  position: absolute;
  top:120px;
  right:600px;
  color:hotpink;
  }

h3{
  font-size: 18px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:520px;
  left:300px;
  color:white;

}

h4{font-size: 18px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:780px;
  left:420px;
  color:white;

}

h5{font-size: 18px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:1050px;
  left:300px;
  color:pink;

}

/* h6{font-size: 100px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:1000px;
  left:400px;
  color:lightblue;
}



h7{
  font-size: 120px;
font-family: 'Raleway', serif;  position:absolute;
  top:4100px;
  left:270px;
  color: pink;
}  */

h7{
  font-size: 30px;
  font-family: 'Raleway', serif;
  position: absolute;
  top:4500px;
  left: 300px;
  color:pink;
}

#working {
  position: absolute;
  top:1150px;
  left:470px;
  color:hotpink;
  font-size: 150px;
  width: 600px;
}
#working:hover:after{
    content:" no no no no no";
    color:pink;
    font-size: 230px;
}
#notworking{
  font-size: 150px;
  font-family: 'Raleway', serif;  position:absolute;
  width: 900px;
  height: 1200px;
  top:2450px;
  left:2%;
  color: steelblue;

}

#notworking:hover:after{
    content:"yeah yeah yeah yeah yeah";
    color: lightblue;
    font-size: 220px;

}

#go{
  font-size: 100px;
  font-family: 'Raleway', serif;  position:absolute;
  width: 500px;
  height: 180px;
  top:3900px;
  left:270px;
  color: steelblue;

}

#go:hover:after{
  font-size: 160px;
  content:"go go go go go ";
  color: lightblue;

}


@-webkit-keyframes typing { from { width: 100; } }
@-webkit-keyframes blink-caret { 100% { border-color: transparent; } }
